/*Principal*/
/* background: url('../img/vinya.jpg') center / cover */
.mdl-layout {
	background-color: smoke;
}

/*Targetes*/
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 20px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('http://www.getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
#inner{
    width: 70%;
    margin: 0 auto;
}