/*Principal*/
/* background: url('../img/vinya.jpg') center / cover */
.mdl-layout {
	background-color: smoke;
}

.row {
  height: 100%;
}

.sidenav{
  float:left;
  width:15%;
  /*
  overflow-y: scroll;
  overflow:hidden
  max-height:100% ;
  min-height:500px;
  */
}

.contingut{
  float:left;
  margin: 50px;
  width:75%;
}

.login{
	align-items: center;
  	justify-content: center;
    margin:-50px
}
.login .mdl-layout__content {
	padding: 24px;
	flex: none;
}

.mdl-layout__header a{
	color:white;
  text-decoration: none;
}

.salir{
  font-size: 15px;
  float:right;
  margin-left:30px;
}


#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #512DA8;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #009688;
  display: inline-block;
  text-align:center;
}


.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
table,th,td{border:none}
table{width:100%;display:table}
table.bordered>thead>tr,table.bordered>tbody>tr{border-bottom:1px solid #d0d0d0}
table.striped>tbody>tr:nth-child(odd){background-color:#f2f2f2}
table.striped>tbody>tr>td{border-radius:0px}
table.highlight>tbody>tr{-webkit-transition:background-color .25s ease;-moz-transition:background-color .25s ease;-o-transition:background-color .25s ease;-ms-transition:background-color .25s ease;transition:background-color .25s ease}
table.highlight>tbody>tr:hover{background-color:#f2f2f2}
table.centered thead tr th,table.centered tbody tr td{text-align:center}
thead{border-bottom:1px solid #d0d0d0}
td,th{padding:15px 5px;display:table-cell;text-align:left;vertical-align:middle;border-radius:2px}

h3{
  font-size: 20px;
  color: #512DA8;
  padding :0px;
  margin:0px;
}